{% extends "base.html" %}
{% load static %}    

{% block content %}


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'img/about11.jpg' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <div class="text-left mb-4">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                        <h1>Innovative Way To Learn</h1>
                    </div>
                    <p> ⁠☞ Unlock your potential with MindSpark – Where learning knows no boundaries.<br>                      
                        ⁠☞ Step into a world of knowledge. Your journey to success starts here.  <br>                   
                        ⁠☞ Transform the way you learn with MindSpark – Education at your fingertips. <br>                                              
                        ⁠☞ Discover, Learn, and Grow with expert-led courses tailored just for you. <br>                     
                        ⁠☞ Empower yourself with skills that matter. MindSpark makes it possible. <br>                     
                        ⁠☞ From beginner to expert – find the perfect course to fuel your passion. <br>                      
                        ⁠☞ Innovative learning, at your pace. MindSpark is where curiosity meets expertise.<br>
                        ⁠☞ Your education, your way – accessible anytime, anywhere.<br>                
                        ⁠☞ Join a community of learners and innovators at MindSpark.<br>
                        ⁠☞ Learn from the best to become the best – Start your journey with MindSpark today!</p>
                    <a href="" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">Search More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    {% endblock %}

   